.bigScreen {
    display: none;
}

.header {
    font-family: "Nexa Bold Italic";
}

@media (min-width: 992px) {
    .smallScreen {
        display: none;
    }

    .bigScreen {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}