.container {
    padding: 0 15px;
}

.iconContainer {
    text-align: center;
    height: 150px;
}

.icon {
    max-height: 100%;
}

.title {
    font-family: 'Nexa Bold', sans-serif;
    font-size: 23px;
    color: #46bee0;
    margin-top: 30px;
}

.description {
    font-family: 'Nexa Book', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 2;
    color: #424753;
}