.tips-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 999px) {
    .tips-list {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 690px) {
    .tips-list {
        grid-template-columns: 100%;
    }
}