* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-section {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
