* {
    box-sizing: border-box;
    font-family: Helvetica;
}

.page-title {
    text-align: center;
}

.inline-label {
    display: inline;
}

.logo {
    object-fit: contain;
}

.logo-container {
    text-align: center;
    padding: 5mm;
}

.item-form {
    display: flex;
    justify-content: space-between;
}

.item-input-container {
    padding: 10px;
}

#items-list {
    width: 100%;
    margin: 1cm 0;
}

#thank-you {
    text-align: center;
    font-weight: bold;
    padding: 1cm;
}

th {
    text-align: left;
}

th:nth-child(1) {
    width: 70%;
}

th:nth-child(2) {
    width: 20%;
}

@media print {
    body {
        height: fit-content;
        margin: 0;
        padding: 15mm 5mm;
    }
    .no-print {
        display: none;
    }
}

@page {
    margin: 0;
}

@media screen {
    .print-only {
        display: none;
    }

    #ticket-form {
        padding: 0 30%;
    }
}
